.homeContainer {
  min-width: 200px;
  .ataturk {
    margin-top: 8rem;
    margin-bottom: 15rem;
    padding: 3rem;
    @media screen and (max-width: 550px) {
      padding: 3rem 4px;
    }
    background-color: var(--grey-color);
    width: -webkit-fill-available;
    height: 15rem;

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      .ataturkImg {
        position: absolute;
        border-radius: 8px;
        top: -6rem;
        width: 45rem;
        height: 20rem;
        border-radius: 8px;
        object-fit: cover;
        @media screen and (max-width: 1100px) {
          width: 35rem;
          height: 15rem;
        }
        @media screen and (max-width: 550px) {
          width: 90%;
          height: 10rem;
        }
      }
      div {
        width: -webkit-fill-available;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 11rem;
        @media screen and (max-width: 1100px) {
          top: 11rem;
        }
        @media screen and (max-width: 550px) {
          top: 7rem;
        }
        span {
          color: var(--dark-color);
          font-weight: bold;
        }
        img {
          width: 15rem;
          height: 10rem;
          @media screen and (max-width: 1100px) {
            width: 10rem;
            height: 5rem;
          }
        }
      }
    }
  }
  .about {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 887px) {
      flex-direction: column;
      width: 100%;
    }
    .soldier {
      width: 30rem;
      height: fit-content;
      height: 20rem;
      object-fit: cover;
      @media screen and (max-width: 887px) {
        width: 100%;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20rem;
      margin-left: 8px;
      @media screen and (max-width: 887px) {
        width: 100%;
      }

      .title {
        font-size: 30px;
        color: var(--orange);
      }
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
          font-size: 13px;
          margin-left: 4px;
        }
        img {
          width: 1rem;
          height: 0.75rem;
        }
      }
      button {
        border: none;
        background-color: var(--orange);
        padding: 4px;
        cursor: pointer;
        color: var(--white-color);
        font-weight: bold;
        transition-duration: 0.5s;
      }
      button:hover {
        background-color: var(--dark-color);
        color: var(--orange);
      }
    }
  }
  .carouselCont {
   margin-top: 12rem;
    .title {
        text-align: center;
        font-size: 3rem;
        color: var(--orange);
    }
    .carousel {
      
      height: 30rem;
      width: 100%;
    }
  }
}
