.navbarContainer {
  .f16Img {
    width: -webkit-fill-available;
    object-fit: cover;
    height: 25rem;
  }
  .navbarBg {
    position: absolute;
    width: 100%;
    top: 0;

    .navbarContext {
      .hr {
        height: 0.5px;
        margin-bottom: 8px;
        background-color: #c4c4c4;
      }
      .profile {
        padding: 4px;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 1100px) {
          justify-content: flex-start;
        }
        .container {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: var(--dark-color);

          a,
          span {
            color: var(--dark-color);
            font-size: 12px;
            text-decoration: none;
          }
          div {
            margin: 0 1rem;

            img {
              width: 1.2rem;
              cursor: pointer;
            }
          }
        }
      }
      .navbar {
        // background: ;
        padding: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: -webkit-fill-available;

        @media screen and (max-width: 1100px) {
          flex-direction: column;
          align-items: flex-start;
          width: 15rem;
          height: -webkit-fill-available;
          justify-content: flex-start;
          position: absolute;
          z-index: 999999999;
        }
        @media screen and (max-width: 494px) {
          width: -webkit-fill-available;
        }

        .pagesContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 80%;
          background-color: transparent;
          @media screen and (max-width: 1100px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 2rem;
            background-color: var(--dark-color);
            padding: 12px;
            box-shadow: 0 4px 8px rgba(10, 20, 20, 13);
            
            border-radius: 4px;
            width: -webkit-fill-available;
          }
          div {
            display: flex;

            background-color: transparent;
            padding: 5px;
            cursor: pointer;

            span {
              font-size: 16px;
              color: var(--white-color);
              background-color: transparent;

              margin-left: 4px;
              @media screen and (max-width: 1100px) {
                margin: 0;
                padding: 0;
              }
            }
            @media screen and (max-width: 1100px) {
              margin: 0;
              margin-top: 1.5rem;
              padding: 0;
            }
          }
          .active {
            

            span {
              color: var(--dark-color);
              font-weight: bold;
            }
          }
          .deActive {
            span,
            svg {
              transition-duration: 0.2s;
              height: 100%;
            }
          }
          .deActive:hover {
            svg {
              color: var(--grey-color);
            }
            span {
              color: var(--grey-color);
            }
          }
          .img {
            display: flex;
            justify-content: center;
            background-color: transparent;

            padding: 0;
            @media screen and (max-width: 1100px) {
              flex-direction: column;
              width: -webkit-fill-available;
            }
            img {
              width: 4rem;
              height: 2rem;
              object-fit: fill;

              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
