.footerContainer {
  background-color: var(--dark-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .title {
    background-color: transparent;
    font-size: 2rem;
    color: var(--orange);
    margin-bottom: 16px;
    margin-top: 8px;
    @media screen and (max-width: 520px) {
      font-size: 1.5rem;
    }
  }
  .footerPages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    @media screen and (max-width: 520px) {
      justify-content: center;
    }
    a {
      color: var(--grey-color);
      background-color: transparent;
      margin: 0.5rem 1rem;
      cursor: pointer;
      text-decoration: none;
    }
    a:hover {
      color: var(--orange);
    }
  }
  .icons {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
    width: 100%;
    flex-direction: row;

    justify-content: space-evenly;
    @media screen and (max-width: 1018px) {
      flex-direction: column;
    }

    label {
      font-size: 1.5rem;
      color: var(--white-color);
      font-weight: bold;
    }
    div,
    .div {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      @media screen and (max-width: 520px) {
        padding: 4px;
      }

      a,
      span {
        font-size: 12px;
        text-decoration: none;
      }
      a {
        color: var(--background-color);
      }
      a:hover {
        color: var(--orange);
      }
      span {
        color: var(--grey-color);
      }
    }
    .media {
      flex-direction: row;
      justify-content: space-between;

      width: -webkit-fill-available;
      a {
        margin: 0.5rem 1rem 0.5rem 0rem;
      }
      #wp {
        svg {
          color: #25D366;
        }
        svg:hover {
          color: var(--white-color)
        }
        
      }
      #ig {
        svg {
          color: #DD2A7B;
        }
        svg:hover {
          color: var(--white-color);
        }
      }
      #x {
        svg {
          color: #1DA1F2;
        }
        svg:hover {
          color: var(--white-color)
        }
      }
    }
    .div2 {
      flex-direction: row;
      align-items: flex-start;

      svg {
        color: var(--orange);
        margin-right: 8px;
      }
      span {
        color: var(--background-color);
      }
    }
  }
  .hr {
    height: 1px;
    background-color: var(--background-color);
    margin: 2rem;
    width: 100%;
  }
  .foot {
    background-color: transparent;
    span {
      color: var(--grey-color);
      background-color: transparent;
      label {
        font-weight: bold;
        background-color: transparent;
      }
    }
  }
}
