.footerContainer {
  background-color: var(--dark-color);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  .title {
    background-color: transparent;
    font-size: 2rem;
    color: var(--orange);
    margin-bottom: 16px;
    @media screen and (max-width: 520px) {
      font-size: 1rem;
    }
  }
  .footerPages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    a {
      color: var(--grey-color);
      background-color: transparent;
      margin: 0 8px;
      cursor: pointer;
      text-decoration: none;
    }
    a:hover {
      color: var(--orange);
    }
  }
  .icons {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (max-width: 520px) {
      flex-direction: column;
      align-items: center;
    }
    justify-content: space-evenly;

    label {
      font-size: 1.5rem;
      color: var(--white-color);
      font-weight: bold;
    }
    div,
    .div {
      display: flex;
      flex-direction: column;
      margin: 8px 0;
      max-width: 15rem;

      a,
      span {
        font-size: 12px;
        text-decoration: none;
      }
      a {
        color: var(--background-color);
      }
      a:hover {
        color: var(--orange);
      }
      span {
        color: var(--grey-color);
      }
    }
    .div2 {
      flex-direction: row;
      align-items: center;
      svg {
        color: var(--orange);
        margin-right: 8px;
      }
      span {
        color: var(--background-color);
      }
    }
  }
  .hr {
    height: 2px;
    background-color: var(--background-color);
    margin: 2rem;
    width: 100%;
  }
  .foot {
    background-color: transparent;
    span {
      color: var(--grey-color);
      background-color: transparent;
      label {
        font-weight: bold;
        background-color: transparent;
      }
    }
  }
}
