.homeContainer {
  overflow-x: hidden;
  min-width: 200px;
  overflow-y: hidden;
  .ataturk {
    margin-top: 5rem;
    margin-bottom: 15rem;
    padding: 3rem;
    @media screen and (max-width: 750px) {
      margin-bottom: 8rem;
      margin-top: 3rem;
    }

    @media screen and (max-width: 550px) {
      padding: 3rem 4px;
      margin-bottom: 4rem;
      margin-top: 3rem;
    }
    background-color: var(--grey-color);
    width: -webkit-fill-available;
    height: 15rem;

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      .ataturkImg {
        position: absolute;
        border-radius: 8px;
        top: -6rem;
        width: 45rem;
        height: 20rem;
        border-radius: 8px;
        object-fit: cover;
        @media screen and (max-width: 1100px) {
          width: 35rem;
          height: 15rem;
        }
        @media screen and (max-width: 550px) {
          width: 90%;
          height: 10rem;
        }
      }
      div {
        width: -webkit-fill-available;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 11rem;
        @media screen and (max-width: 1100px) {
          top: 11rem;
        }
        @media screen and (max-width: 550px) {
          top: 7rem;
        }
        span {
          color: var(--dark-color);
          font-weight: bold;
        }
        img {
          width: 15rem;
          height: 10rem;
          @media screen and (max-width: 1100px) {
            width: 10rem;
            height: 5rem;
          }
        }
      }
    }
  }
  .descCarousel {
    .title {
      font-size: 3rem;
      color: var(--orange);
      text-align: center;
      @media screen and (max-width: 750px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.3rem;
      }
    }
  }
  .about {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    @media screen and (max-width: 887px) {
      flex-direction: column;
      margin-top: 0rem;
      width: 100%;
    }
    .soldier {
      width: 30rem;
      height: fit-content;
      height: 20rem;
      object-fit: cover;
      margin-right: 2rem;
      @media screen and (max-width: 887px) {
        width: 100%;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20rem;
      margin-left: 8px;
      @media screen and (max-width: 887px) {
        width: 100%;
      }

      .title {
        font-size: 30px;
        color: var(--orange);
      }
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
          font-size: 13px;
          margin-left: 4px;
        }
        img {
          width: 1rem;
          height: 0.75rem;
        }
      }
      button {
        border: none;
        background-color: var(--orange);
        padding: 4px;
        cursor: pointer;
        color: var(--white-color);
        font-weight: bold;
        transition-duration: 0.5s;
      }
      button:hover {
        background-color: var(--dark-color);
        color: var(--orange);
      }
    }
  }
  .carouselCont {
    margin-top: 12rem;
    @media screen and (max-width: 750px) {
      margin-top: 6rem;
    }

    .title {
      text-align: center;
      font-size: 3rem;
      color: var(--orange);
      @media screen and (max-width: 750px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.3rem;
      }
    }
    .carousel {
      height: 30rem;
      width: 100%;
      @media screen and (max-width: 887px) {
        height: 20rem;
      }
    }
  }
  .wrapper {
    margin: 7rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
    div {
      display: flex;
      flex-direction: column;
      background-color: var(--grey-color);
      border-radius: 4px;
      padding: 1.5rem;
      margin: 1rem;
      width: 15rem;
      span {
        font-weight: bold;
        margin: 10px 0;
      }
      img {
        width: 3rem;
        height: 3rem;
        background-color: var(--orange);
        padding: 1rem;
        border-radius: 4px;
      }
      label {
        font-size: 12px;
      }
    }
  }
  .partners {
    padding: 1rem;
    .title {
      font-size: 2rem;
      color: var(--orange);
      text-align: center;
      @media screen and (max-width: 750px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.3rem;
      }
    }
  }
  .connect {
    background-color: var(--dark-color);
    width: -webkit-fill-available;
    margin-top: 5rem;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 35rem;
      @media screen and (max-width: 684px) {
        height: 45rem;
      }
      filter: blur(4px);
    }
    .context {
      position: absolute;
      top: 1rem;
      left: 25%;
      display: flex;
      flex-direction: column;
      width: 50%;

      margin: 0 auto;
      @media screen and (max-width: 1478px) {
        width: 85%;
        left: 7.5%;
      }
      @media screen and (max-width: 684px) {
        width: 95%;
        left: 2.55%;
      }

      span {
        color: var(--white-color);
        font-size: 19px;
        text-align: center;
      }
      button {
        margin: 1rem;
        border: none;
        background-color: var(--orange);
        color: var(--white-color);
        font-weight: bold;
        padding: 0.5rem;
        width: 50%;
        cursor: pointer;
        @media screen and (max-width: 449px) {
          width: -webkit-fill-available;
        }
      }
      button:hover {
        background-color: var(--dark-color);
        color: var(--orange);
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        input,
        textarea {
          margin: 1rem;
          width: 20rem;
          outline: none;
          background-color: transparent;
          border: 1px solid var(--grey-color);
          color: var(--white-color);
          padding: 0.5rem;
          @media screen and (max-width: 1478px) {
            width: 15rem;
          }
          @media screen and (max-width: 684px) {
            width: 10rem;
          }
          @media screen and (max-width: 449px) {
            width: -webkit-fill-available;
          }
        }
        input::placeholder,
        textarea::placeholder {
          color: var(--white-color);
        }
        input:focus,
        textarea:focus {
          border-color: var(--orange);
        }
        textarea {
          resize: none;
          width: -webkit-fill-available;
          height: 5rem;
          @media screen and (max-width: 1478px) {
            width: 15rem;
            height: fit-content;
          }
          @media screen and (max-width: 684px) {
            width: 10rem;
          }
          @media screen and (max-width: 449px) {
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
}
