.sliderContainer {
  
  margin-bottom: calc(100% / 12);
 
  .container {
    overflow: hidden;
    .slider {
    
      animation: slidein 5s linear infinite;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: inline-block;
        margin: 0px 0;
        
        img {
            width: calc(100% /8);
            margin:0 calc(100% / 48);
            object-fit: fill; 
          animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
            forwards;
            background-color: yellow;
            
        }
      }
    }
  }

  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

