.mediaContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 3rem;
    color: var(--orange);
    text-align: center;
    @media screen and (max-width: 750px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 1.3rem;
    }
  }